HAMK.IoTArk.3.Maps.json
[
    {
        "id": "98ffdac0d8ce2a2d",
        "type": "tab",
        "label": "IoTArk.3.Maps",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f54608b975770f9",
        "type": "mqtt in",
        "z": "98ffdac0d8ce2a2d",
        "name": "",
        "topic": "hamk/iot-python-client/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2b5d47f073ec1fb5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "25959d14c2fd2f06",
                "93488a9a0889fef7",
                "c30d9de256fe487e"
            ]
        ]
    },
    {
        "id": "25959d14c2fd2f06",
        "type": "debug",
        "z": "98ffdac0d8ce2a2d",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "c30d9de256fe487e",
        "type": "worldmap",
        "z": "98ffdac0d8ce2a2d",
        "name": "",
        "lat": "66.55317417058825",
        "lon": "25.833114323176556",
        "zoom": "14",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "true",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "93488a9a0889fef7",
        "type": "worldmap-tracks",
        "z": "98ffdac0d8ce2a2d",
        "name": "",
        "depth": "15",
        "layer": "combined",
        "smooth": false,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "c30d9de256fe487e"
            ]
        ]
    },
    {
        "id": "2b5d47f073ec1fb5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]